<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css" rel="stylesheet">-->
</head>

<body>
    <!--<h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>-->
    <div id="react-app">loading...</div>

    <script src="/dist/js/app.js"></script>
</body>

</html>